<template>
    <div id="listContainer">
        <div class="element">
            <img src="logo.png" alt="" class="imgItem" />
            <p class="textItem">Item 1</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 2</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 3</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 4</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 5</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 6</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 7</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 8</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 9</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 10</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 11</p>
        </div>
        <div class="element">
            <img src="" alt="" class="imgItem" />
            <p class="textItem">Item 12</p>
        </div>
        <button v-on:click="say('salut')">Dire salut</button>
    </div>
    
</template>

<script>
import Vue from 'vue'

const LazyList = new Vue({
    el:'#lazylist',
    data:{
        scrollPostion: null,
    },

    methods: {
        say: function (message) {
            alert(message)
        }
    },
})




export default {
    name: "LazyList",
    LazyList
};






// Note : ajouter une div entre chaque element et donner un padding quand un element est supprimer 
</script>

<style scoped>
#listContainer{
    overflow-y: scroll;
    /* resize: vertical; */
}

.element{
    display: flex;
}

.element:hover{
    background-color: lightblue;
}

.imgItem{
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.textItem{
    margin-left: 10px;
}
</style>


