<template>
  <div id="app">
    <div class="componantContainer">
      <lazy-list class="components"></lazy-list>

    </div>

  </div>
</template>

<script>
import LazyList from './components/LazyList.vue'

export default {
  name: 'App',
  components:{
    LazyList
  }
}
</script>

<style>
.componantContainer{
  display: grid;
  justify-content: center;
}
.components{
  height: 200px;
  width: 300px;
  border: 2px solid gray;
  border-radius: 3px;
}

</style>
